@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home";
}

<div class="organize center text-center">
    <br />
    <h1>Jacob Poor</h1>
    <br />
    <h2>Preferred Name: Jacob</h2>
    <br />
</div>
<div class="center">
    <img id="climbing" src="img/climbing.JPG" />
</div>
<div class="organize center">
    <br />
    <br />
    <p>
        This semester I am very excited for IS 413! I've had very little exposure to strongly-typed coding
        languages so I believe learning C# and ASP.NET will be very valuable to me. Furthermore, I really
        enjoy coding in general and just getting in the paint so-to-speak as I feel that it allows me to
        express some sort of creativity. I look forward to what this semester will bring!
    </p>
    <br />
    <h4>Top 3 Jobs I'd Like to Pursue:</h4>
    <ol>
        <li>Software Engineer</li>
        <li>Web Developer</li>
        <li>Data Analyst</li>
    </ol>
</div>